In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [2]:
boston = pd.read_csv('housing_data.csv')

In [3]:
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [4]:
boston.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [5]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [6]:
boston.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [7]:
boston.shape

(506, 14)

In [8]:
boston.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [9]:
crim_mean = boston['CRIM'].mean()
zn_mean = boston['ZN'].mean()
indus_mean = boston['INDUS'].mean()
chas_mean = boston['CHAS'].mean()
age_mean = boston['AGE'].mean()
lstat_mean = boston['LSTAT'].mean()

boston['CRIM'].fillna(crim_mean, inplace=True)
boston['ZN'].fillna(zn_mean, inplace=True)
boston['INDUS'].fillna(indus_mean, inplace=True)
boston['CHAS'].fillna(chas_mean, inplace=True)
boston['AGE'].fillna(age_mean, inplace=True)
boston['LSTAT'].fillna(lstat_mean, inplace=True)

boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [10]:
model = linear_model.LinearRegression()

In [15]:
x = boston.drop(columns=['MEDV'])
y = boston['MEDV']

In [16]:
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.980000
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.140000
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.030000
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.940000
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,12.715432

In [17]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [19]:
model.fit(x_train, y_train)

LinearRegression()

In [20]:
print(model.coef_)

[-1.18414708e-01  3.48798934e-02 -1.55460788e-02  3.47572918e+00
 -1.64063432e+01  4.43455007e+00 -6.15500046e-03 -1.45300798e+00
  2.44261782e-01 -9.12684993e-03 -8.92931085e-01  1.07950752e-02
 -5.25860622e-01]

In [41]:
y_pred = model.predict(x_test)
y_pred

array([19.70991505, 17.73969873, 22.8252389 , 14.93930721, 25.29583454,
       20.73531424, 33.4570574 , 24.57743119, 13.03280651, 20.94625415,
       29.08552412, 25.55600701, 22.41599924, 28.76918005,  8.29716024,
       20.24989788, 16.40754029, 33.0506025 , 13.54047257, 25.66673677,
       22.86442999, 11.53448418, 13.37565876, 19.54259263, 20.65772764,
       13.44022553, 33.64392824, 37.08290695, 21.79635493, 15.32383188,
       17.91689165, 20.70127531, 10.81258311, 22.0886225 ,  4.62705367,
       17.41751873,  5.43756868, 26.65878149, 21.01518062, 22.70180353,
       43.18475707, 19.17071433, 12.82524328, 10.69429173, 32.6293526 ,
       30.40168817, 41.45776932, 18.04631484, 16.04045582, 11.32581457,
       -0.43067865, 19.67577296, 21.76823651, 20.17063968, 24.12718723,
       22.44201601, 12.98520989, 19.5041809 , 28.86694547, 33.79515394,
       20.88675559, 16.84900211, 22.29376979, 18.73361261, 24.97026375,
       23.76273282, 20.77927897, 36.88334715, 17.61506955, 23.05213751,
       23.2564452 , 14.74327466, 20.26852329, 20.19509613, 19.61423505,
       35.80892688,  5.40547027, 36.57696911, 19.13808691, 25.39227899,
       24.39840225, 15.18449444, 25.19266313, 15.10793471, -6.56051945,
       30.91728275, 28.16445265, 16.49143327, 26.3249166 , 24.02002055,
       13.83819416, 24.18067876, 18.76505856, 16.7596291 ,  7.74673455,
       12.376743  , 16.17432047, 20.09186744,  8.79324376, 28.38947685,
       25.47487216, 17.62543697])

In [42]:
y_test

array([[[18.6, 19.9, 20.1, 16.2, 29.8, 18.7, 36.1, 26.2, 13.9, 24.1,
         24.6, 28.7, 20.2, 28. ,  7. , 22.5, 19.1, 27. , 19. , 23.2,
         22.7, 13.8, 10.9, 15.2, 27.5, 15.7, 41.3, 38.7, 17.4, 14.1,
         16.1, 17.1, 23.7, 26.4, 10.5, 18.1, 10.4, 24.8, 20.6, 19.8,
         50. , 18.5,  7.5, 16.5, 29. , 34.9, 48.8, 20.1, 20.2, 11.8,
         17.9, 19.5, 19.3, 17.8, 24.4, 23.1, 18.5, 22.2, 22.8, 31.7,
         19.7, 15.3, 20.6, 18.4, 22.9, 19.2, 21.1, 32.4, 14.2, 19.4,
         21.2, 14.9, 20. , 13.3, 18.2, 33.3, 10.2, 36. , 18.3, 24.8,
         25. , 11.7, 23.8, 17.2,  7. , 30.7, 26.6, 22.9, 20.6, 25.2,
         13.3, 22.7, 19.9, 19.4, 14.6, 27.5, 18.4, 17.7,  9.7, 23.3,
         25.3, 19.6]]])

In [43]:
y_test = np.reshape(y_test, (102))

In [44]:
print(np.mean((y_pred - y_test)**2))

19.934814574150757

In [36]:
from sklearn.metrics import mean_squared_error

In [45]:
print(mean_squared_error(y_test, y_pred))

19.934814574150757

In [48]:
from sklearn import metrics
mse = metrics.mean_squared_error(y_test, y_pred)
mae = metrics.mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print(f'Mean Squared Error: {mse}',f'Mean Absolute Error: {mae}',f'Root Mean Squared Error: {rmse}',sep='\n')

Mean Squared Error: 19.934814574150757
Mean Absolute Error: 3.2060812432567882
Root Mean Squared Error: 4.46484205478209